#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.MuiTab-root > button {
  color: white !important;
  margin: 5px;
}


.wrapper-container {
  height: 100vh; 
}
